<% content_for :title, "Edit Todo" %>

<div class="todos-page">
  <div class="page-header">
    <h1>Edit Todo</h1>
    <p><%= @todo.title.presence || 'Untitled' %></p>
  </div>

  <%= render "form", todo: @todo %>
</div>
