<% content_for :title, "New Todo" %>

<div class="todos-page">
  <div class="page-header">
    <h1>New Todo</h1>
    <p>Add a new task to track</p>
  </div>

  <%= render "form", todo: @todo %>
</div>
